altair==5.3.0
asttokens 
attrs==24.2.0
blinker==1.8.2
cachetools==5.4.0
certifi==2024.7.4
charset-normalizer==3.3.2
click==8.1.7
colorama 
comm 
contourpy==1.2.1
cycler==0.12.1
debugpy 
decorator 
exceptiongroup 
executing 
fonttools==4.53.1
gitdb==4.0.11
GitPython==3.1.43
idna==3.7
importlib_metadata 
ipykernel 
ipython 
jedi 
Jinja2==3.1.4
joblib==1.4.2
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
jupyter_client 
jupyter_core 
kiwisolver==1.4.5
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.9.1.post1
matplotlib-inline 
mdurl==0.1.2
nest_asyncio
numpy==2.0.1
packaging 
pandas==2.2.2
parso 
pickleshare 
pillow==10.4.0
platformdirs 
prompt_toolkit 
protobuf==5.27.3
psutil 
pure_eval 
pyarrow==17.0.0
pydeck==0.9.1
Pygments
pyparsing==3.1.2
python-dateutil 
pytz==2024.1
pyzmq
referencing==0.35.1
requests==2.32.3
rich==13.7.1
rpds-py==0.20.0
scikit-learn==1.5.1
scipy==1.14.0
seaborn==0.13.2
six 
smmap==5.0.1
stack-data 
streamlit==1.37.1
streamlit-lottie==0.0.5
streamlit-option-menu==0.3.13
tenacity==8.5.0
threadpoolctl==3.5.0
toml==0.10.2
toolz==0.12.1
tornado 
traitlets 
typing_extensions 
tzdata==2024.1
urllib3==2.2.2
watchdog==4.0.1
wcwidth 
xgboost==2.1.1
zipp 
